html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

a {
  text-decoration: none;
}

.navBar {
  position: fixed;
  height: 80px;
  overflow: hidden;
  top: 0;
  display: flex;
  align-items: center;
  background: #3e3e3e;
  width: 100%;
}

.logo {
  width: 500px;
  height: auto;
  float: left;
  font-weight: bold;
  font-size: 16px;
  color: white;
  margin-left: 50px;
}

.menu {
  position: absolute;
  right: 20px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: 300;
  margin: 20px;
}

.navBar ul {
  color: white;
  list-style: none;
  margin-top: 0;
  display: flex;
}

.presentationContainer {
  background: url("../images/apple-email-iphone-17663.jpg");
  background-size: cover;
  width: 100%;
  height: 950px;
  display: table;
  background-attachment: fixed;
}

.presentationContainer h1 {
  color: white;
  font-size: 20px;
  margin-top: 400px;
  text-align: center;
}

.presentationContainer h2 {
  color: white;
  font-size: 80px;
  font-weight: 700;
  text-align: center;
  margin-top: 10px;
}

/* old title */

/* .presentationContainer h3 {
  color: white;
  font-size: 80px;
  font-weight: 700;
  margin-left: 100px;
  margin-top: 10px;
} */

.aboutContainer {
  width: 100%;
  height: auto;
  background: white;
  padding-bottom: 30px;
}

.aboutContainer h1 {
  font-family: 'Nunito', sans-serif;
  color: rgb(216, 0, 0);
  letter-spacing: 5px;
  font-size: 70px;
  padding-top: 100px;
  margin-left: 300px;
}

.aboutContainer h2 {
  font-family: 'Nunito', sans-serif;
  color: rgb(216, 0, 0);
  font-size: 70px;
  letter-spacing: 5px;
  margin-top: 10px;
  margin-left: 300px;
}

.story {
  display: flex;
  width: 800px;
  height: 400px;
  margin: auto;
  background: white;
}

.storyLogo {
  width: 200px;
  height: 200px;
  margin: auto;
  background: url('../images/story_pentagon.png') no-repeat;
  background-position: center;
  background-size: 200px;
}

.storyContent {
  width: 400px;
  height: 200px;
  margin: auto;
  color: black;
  text-align: justify;
  font-size: 14px;
  background: white;
  line-height: 20px;
  font-family: 'Quicksand', sans-serif;
  padding-top: 30px;
}

.storyContent h3 {
  font-size: 40px;
  color: rgb(50, 163, 175);
  text-align: center;
  padding-bottom: 20px;
}

.vision {
  display: flex;
  width: 800px;
  height: 400px;
  margin: auto;
  background: white;
}

.visionLogo {
  width: 200px;
  height: 200px;
  margin: auto;
  background: url('../images/eye_pentagon.png') no-repeat;
  background-size: 200px;
  background-position: center;
}

.visionContent {
  width: 400px;
  height: 200px;
  margin: auto;
  color: black;
  text-align: justify;
  font-size: 14px;
  background: white;
  line-height: 20px;
  font-family: 'Quicksand', sans-serif;
}

.visionContent h3 {
  font-size: 40px;
  color: rgb(50, 163, 175);
  text-align: center;
  padding-bottom: 20px;
}

.projects {
  width: 100%;
  height: auto;
  background: #3e3e3e;
}

.project-presentation {
  width: 100%;
  height: 600px;
  background: url('../images/mac_ipad_iphone.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  font-size: 90px;
  font-weight: 700;
  letter-spacing: 3px;
  text-align: center;
  padding-top: 500px;
  display: table;
  background-attachment: fixed;
}

.projects h1 {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  color: rgb(225, 86, 35);
  letter-spacing: 5px;
  font-size: 70px;
  padding-top: 100px;
  padding-bottom: 60px;
}

.fialy-container {
  width: 100%;
  height: auto;
  background: #3e3e3e;
  margin: auto;
}

.fialy-image {
  width: 900px;
  height: 650px;
  margin: auto;
  background-image: url('../images/fialy.png');
  background-size: contain;
}

.fialy-content {
  width: 100%;
  height: 400px;
  margin: auto;
  background: white;
}

.fialy-content p {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
  line-height: 20px;
  font-size: 15px;
  font-family: 'Quicksand', sans-serif;
  color: black;
}

#download-app-btn {
  margin: auto;
  width: 200px;
  height: auto;
  padding: 20px;
  background: white;
  border: solid 2px black;
  border-radius: 30px;
  color: black;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  font-size: 15px;
}

.contactInfo {
  width: 100%;
  height: 800px;
  background: rgb(255, 141, 18)
}

.contactInfo h1{
  font-family:'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  padding-top: 200px;
  color: white;
  letter-spacing: 5px;
}

.contactInfo h2{
  font-family:'Quicksand', sans-serif;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 5px;
  padding-top: 10px;
  color: white;
}

.contactInfo h3{
  font-family:'Quicksand', sans-serif;
  text-align: center;
  font-size: 17px;
  padding-top: 10px;
  color: white;
}

.nameAndEmailForm {
  padding-top: 30px;
  text-align: center;
}

#name, #email {
  width: 300px;
  height: 30px;
  margin-bottom: 20px;
  font-size: 15px;
}

.subjectForm {
  text-align: center;
}

#subject {
  width: 610px;
  height: 30px;
  margin-bottom: 20px;
  font-size: 15px;
}

#sendButton {
  width: 615px;
  height: 30px;
  font-size: 15px;
  background: rgb(50, 163, 175);
  margin: auto;
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  text-align: center;
  padding-top: 10px;
}

footer {
  width: 100%;
  height: 80px;
  background: black;
  font-size: 14px;
  font-family:'Quicksand', sans-serif;
  color: white;
  text-align: center;
  padding-top: 60px;
}

footer span {
  margin: 10px;
}
